/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;  
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

.site-header__menu {
  font-weight: var(--fw-medium);
}

/* Background colors */

.site-header,
.main-body__eye-catcher,
.main-body__card {
  background-color: var(--clr-neutral-100);
}

.main-body__category--robust {
  background-color: var(--clr-robust)
}

.main-body__category--green {
  background-color: var(--clr-green);
}

.main-body__category--flower {
  background-color: var(--clr-flower);
}

.main-body__category--colorful {
  background-color: var(--clr-colorful);
}

.main-body__category--sunloving {
  background-color: var(--clr-sunloving);
}

.main-body__category--air {
  background-color: var(--clr-air);
}

.main-body__category--decorative {
  background-color: var(--clr-decorative);
}

.main-body__category--edible {
  background-color: var(--clr-edible)
}

.main-body__category--easy {
  background-color: var(--clr-easy);
}

.main-body__category--fragrant {
  background-color: var(--clr-fragrant);
}

.main-body__category--fast {
  background-color: var(--clr-fast);
}

.site-footer {
  background-color: var(--clr-green-400);
}

/* Font colors */

.main-body__category,
.site-footer > *,
.site-footer__link {
  color: var(--clr-neutral-100);
}

.site-header__text {
  color: var(--clr-green-400);
}

/* Font size */

/* Font weight */

.site-header__text {
  font-weight: var(--fw-500);
}

/* Margin and padding */

.site-header {
  padding-block: 0.5rem;
  padding-inline: clamp(2rem, 20vw, 15rem);
}

.main-body__content-cell,
.main-body__card-cell,
.main-body__eye-catcher,
.site-footer {
  padding-block: 2.5rem;
}

.main-body__collage {
  margin-bottom: 3rem;
}

.main-body__card-body {
  padding-inline: 1rem;
}

.main-body__category-wrapper {
  margin-top: 1.5em;
}

.main-body__profile {
  padding-bottom: 1em;
}

/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}

/* --- Individual Styling --- */


/* Header */
.site-header,
.site-header__menu {
  display: flex;
}

.site-header__logo,
.site-header__link {
  text-decoration: none;
}

.site-header__wrapper {
  display: flex;
  gap: 0.5rem;
}

.site-header__logo {
  width: 40px;
  height: 40px;
  align-self: center;
}

.site-header__text {
  text-wrap: wrap;
  width: 1em;
}

.site-header {
  justify-content: space-between;
  align-items: stretch;
  height: 3.5rem;
}

.site-header__menu {
  align-items: center;
}

.site-header__link {
  padding: 1.1em;

  &:hover {
      box-sizing: border-box;
      text-decoration: none;
      color: var(--clr-neutral-100);
      background-color: var(--clr-green-400);

  }
}

.site-header__hamburger {
  display: none;
  box-sizing: border-box;
  padding: 0.5em;
}

@media (width < 880px) {
  .site-header {
    padding-inline: 2rem;
  }

  .site-header__menu {
    display: none;
  }

  .site-header__hamburger {
    display: block;
    padding-right: 0;
    
    &:hover {
      content: url("./assets/images/icon-menu-white.svg");
      background-color: var(--clr-green-400);
    }
  }
}

/* --- Body --- */

/* Content cell */
.main-body,
.main-body__content-cell,
.main-body__card-cell {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.main-body__content-cell,
.main-body__card-cell {
  gap: 1em;
}

.main-body__content-cell {
  width: 30%;
}

.main-body__card-cell {
  width: 50%;
}

@media (width < 440px) {
  .main-body__content-cell,
  .main-body__card-cell {
    width: 100%;
  }
}

.main-body__heading,
.main-body__text {
  text-align: center;
}


@media (width < 440px) {
  .main-body__heading {
    text-wrap: nowrap;
  }
}

/* Collage */

.main-body__collage {
  display: grid;
  width: clamp(400px, 50%, 800px);
  max-width: 100%;
  border: 1rem solid white;
  grid-template-areas:
    "a a b c d d"
    "a a e e f f";
}

@media (width < 660px) {

  .main-body__collage {
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
}

.main-body__image {
  display: block;
  height: 100%;
  object-fit: cover;
}

.main-body__image:nth-child(1) {
  grid-area: a;
}

.main-body__image:nth-child(2) {
  grid-area: b;
}

.main-body__image:nth-child(3) {
  grid-area: c;
}

.main-body__image:nth-child(4) {
  grid-area: d;
}

.main-body__image:nth-child(5) {
  grid-area: e;
}

.main-body__image:nth-child(6) {
  grid-area: f;
}

/* Cards */

.main-body__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}


@media (width < 660px) {
  .main-body__cards {
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  }
}

.main-body__card {
  display: flex;
  flex-direction: column;
}

.main-body__card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

.main-body__card-image {
  min-height: 15em;
  box-sizing: border-box;
  overflow: hidden;
  aspect-ratio: 16 / 19;
  object-fit: cover;
}

.main-body__category-wrapper {
  min-height: 4em;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 0.5em;
}

.main-body__category {
  padding: 0.2em;
  border-radius: 2em;
}


.main-body__profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1em;
  margin-top: auto;
}

.main-body__profile-image {
  border-radius: 50%
}

/* Eye-catcher */

.main-body__eye-catcher {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: clamp(0.2em, 15vw, 2em);
}

@media (width < 660px) {
  .main-body__eye-catcher {
    flex-direction: column;
  }
}

.main-body__eye-catcher:last-of-type {
  gap: 5em;
  margin-bottom: 2.5em;
}

.main-body__catch-wrapper {
  display: grid; 
  max-width: 30%;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 1em;
}

.main-body__catch-heading {
  text-align: left;
}

.main-body__icon-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-green-400);
  border-radius: 50%

}

@media (width < 660px) {
  .main-body__icon-wrapper {
    order: -1;
    flex-direction: column;
  }
}

.main-body__planting-icon {
  width: 50%;
  height: 50%;
}


/* Footer */

.site-footer {
  display: flex;
  justify-content: space-between;
  padding-inline: clamp(2rem, 22vw, 30rem);
  justify-items: space-between;
}

.site-footer__about,
.site-footer__menu {
  display: grid;
  grid-template-columns: 1fr;
}

.site-footer__about {
  margin-left: 3em;
  max-width: 60%;
  gap: 1rem;
}

.site-footer__contact {
  display: flex;
  flex-direction: column;
}

.site-footer__menu {
  align-items: center;
}

@media (width < 660px) {
  .site-footer__menu {
    display: none;
  }
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}